body{
  background-color:black; 
}

button, div, form, input{
  margin: 10px;
}

button{
  background-color: green;
  border: 2px solid #000;
  border-radius: 3px;
  color: white;
}

P{
  font-weight: bold;
  font-size: 14px;
  line-height: .5;
}

.container{
  background-image: url(../images/The-Lawrenceville-School-bdK3ACE.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 160%;
}

.topicDiv{
  float:left;
}

.GIF:hover{
  cursor: -webkit-grab;
}